@media (min-width:768px) and (max-width:11991px)
{.col-md-6
    {float: left;
    border: 1px solid blue;}
}

.col-md-6{
    width:50%
}

@media (min-width:992px)
{col-lg-3
    {float: left;
    border: 1px solid blue}
}
.col-lg-3{
    width:25%
}

@media (min-width:992px)
{col-sg-12
    {float: left;
    border: 1px solid blue}
}
.col-sg-12{
    width:100%
}
